{% extends "base.html" %}
{% load static %}

{% block nav_bar %}
{% include "nav_bar.html" %}
{% endblock %}
{% block more_css %}
<link href='{% static '/styles/codehilite.css' %}' type="text/css" rel="stylesheet" />
<link href='{% static '/styles/blog_style.css' %}' type="text/css" rel="stylesheet" />

{% endblock %}
{% block page_content %}
<div class="center-body">
<div class='row justify-content-center'>
  <div class='column-8'>
    <h1>{{ post.title }}</h1>
  </div>
</div>

<div class="row">
  <div class= 'column flex-column mx-5'>
    {{ post.content | safe }}
  </div>
</div>

</div>
{% endblock %}
