#header {
  font-family: 'Merriweather';
  margin-top: 20px;
}

#preamble {
  margin-bottom: 0;
  font-weight: normal;
  font-style: italic;
  font-family: serif;
}

#myface {
  margin: 10px;
}

.row {
  font-family: 'Merriweather'
}

.link:hover {
  text-decoration: none;
  color: black;
}

.link {
  color: black;
  background-color: transparent;
  /* box-shadow: 0 -3px 0 0 #FADA5E inset; */
  transition: box-shadow 200ms;
  transition-timing-function: cubic-bezier(.18, .89, .32, 1.28);
}

#link1 {
  box-shadow: 0 -3px 0 0 #FADA5E inset;
}

#link1:hover {
  box-shadow: 0 -10px 0 0 #FADA5E inset;
}

#link2 {
  box-shadow: 0 -3px 0 0 #5E7EFA inset;
}

#link2:hover {
  box-shadow: 0 -10px 0 0 #5E7EFA inset;
}

#link3 {
  box-shadow: 0 -3px 0 0 #DAE1FE inset;
}

#link3:hover {
  box-shadow: 0 -10px 0 0 #DAE1FE inset;
}
